body {
  text-align: center;
  background-color: #acfadf;
  margin: 0;
}

.divHead h1 {
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  margin-bottom: 2px;
  margin-top: 7rem;
}

.div2 {
  font-family: 'Special Elite', cursive;
  font-size: 1.3rem;
  margin: 0;
}

#one {
  width: auto;
  height: 350px;
}

#two {
  width: auto;
  height: 150px;
  margin-top: 20px;
}

.last h2,
.self h2,
.mySkills h2 {
  font-family: 'Handjet', cursive;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 4px;
}

.self p {
  font-family: 'REM', sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: larger;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #a4b494;
  border-width: 7px;
  margin: 80px auto;
  width: 7%;
}

.mySkills h3 {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 20px;
  font-size: 1.8rem;
  /* width: 80%;
    text-align: left; */
}

/* .mySkills{
    margin: auto 220px;
} */
.mySkills p {
  font-family: 'REM', sans-serif;
  font-size: larger;
}

.last h3 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.8rem;
}

.last h2 {
  margin: 20px 0 20px;
}

.last img {
  width: 10rem;
}

.last h3 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.8rem;
  margin: 20px;
}

.last p {
  margin: 20px;
  font-family: 'REM', sans-serif;
  font-size: larger;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-12{
  position: relative;
  /* right: 20px;
  bottom: 20px; */
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  /* -webkit-perspective: 230px; */
  /* perspective: 230px; */
}

.btn-12 span {
  background: rgb(0, 211, 208);
background: linear-gradient(0deg, rgb(2, 127, 77) 0%, rgb(1, 78, 55) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px rgba(0, 0, 0, 0.6), -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px rgb(2, 85, 85), 4px 4px 5px 0px rgba(2, 90, 72, 0.067);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(3, 82, 47, 0.5),
    7px 7px 20px 0px rgba(21, 207, 58, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(24, 209, 92, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.footer {
  background: rgb(2, 85, 85) ;
  height: 280px;
  width: auto;
}
.footerBtn {
  padding: 20px 0 0 0;
}
a {
  color: aqua;
}
.social {
  text-align: center;
  font-size: 2.5em;
  color: #efdbb4;
  overflow: hidden;
}
.social a {
  color: inherit;
  text-decoration: none;
}
.social a {
  margin: 0.3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
.social a:hover {
  margin-top: -1px;
}
.social a#twitter:hover {
color: #77DDF6;
}
.social a#github:hover {
  color: black;
}
.social a#linkedin:hover {
  color: #0177B5;
}
.social a#code:hover {
  color: #29A329;
}
.social a#stack:hover {
  color: #ED780E;
}
.social a#plus:hover {
  color: #D43402;
}
.social a#mail:hover {
  color: #F7B401;
}

.copyright,.madeWith{
  color: #efdbb4;
  font-size: 1.5rem;
  margin: 12px 0 0 0;
  
}
.coffee {
  height:60px;
}